h1 New tasks view

form(method='post', action='/tasks')
 fieldset
  legend Add a task
  div.clearfix
   label Task
   div.input
    input(name='task[task]', class='xlarge')
  div.actions
   input(type='submit', value='Save', class='btn primary')
   button(type='reset', class='btn') Cancel

p
 a(href='/tasks/new', class='btn primary') Add a Task